.container {
  margin-left:80px;
  margin-right: 60px;
}
h3{
  font-size: xxx-large;
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.flex-child {
  /* flex: 1; */
  /* box-sizing: border-box; */
  width: 17%;
  transition: all 0.5s ease-out;
}

.flex-child:nth-of-type(1n+1) {
  background: #a376f8
}
.flex-child:nth-of-type(2n+2) {
  background:#e83e8c;
}
.flex-child:nth-of-type(3n+3) {
  background:#ff8f85;
}
.flex-child:nth-of-type(4n+4) {
  background:#d6b03e;
}
.flex-child:nth-of-type(5n+5) {
  background:#3DC47E; 
}

.card {
  margin: 10px;
  padding: 10px;
  text-align: center;
  min-height: 300px;
  min-width: 200px;
  border-radius: 3px;
  position: relative;

}

.flex-child:hover,
.flex-child:focus {
  background-color: #fff;
  color: #333;
}

.btn-delete {
  position: absolute;
  width: 30px;
  height: 30px;
  /* background: #D7ECE6 0% 0% no-repeat padding-box; */
  background: transparent;
  border-radius: 20px;
  opacity: 1;
  border: 1px solid #726b6b;
  top: 0;
  right: 0;
  
}

.area-add {
  background: transparent;
  border: 1px solid #726b6b;
}

.btn-add {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  opacity: 1;
  border: 1px solid #726b6b;
  bottom: 0;
  left: 0;
  right: 0;
}


.new-card {
  float: right;
}

.card-message {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 20px;
}